
.card-component-container {
    display: flex;
    min-height: 100VH;
    flex-direction: column;
    align-items: center;
  }
  
  .card-component-container .card {
    border: 4px solid #FEC526;
    border-radius: 10px;
    background-color: rgba(42, 32, 6, 0.72);
    max-width: 40vw;
    min-width: 40vw;
    max-height: 40vw;
    min-height: 40vw;
    color: #ffffff;
    margin-bottom: 2%;
  }
  
  .card-component-container .card img {
    object-fit: cover;
    min-height: 40%;
    min-width: 40%;
  }
  
  .card-component-container .card .card-title {
    font-weight: bold;
  }
  
  .card-component-container .card .card-text {
    margin-bottom: 0;
  }
  