.SSidebar {
  width: 250px;
  height: 100vh;
  background-color: #f0f0f0;  
  display: flex;
  flex-direction: column;
}
.SGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.SProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border-right: 6px solid #B02025;
}

.SProfile-picture {
  margin-top: 11%;
  min-width: 70%;
  min-height: 70%;
  border-radius: 50%;
  border: 5px solid #082149;
  object-fit: cover;
  margin-bottom: 10px;
}

.SUsername {
  font-size: 18px;
  font-weight: bold;
}

.SContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.SNavigation {
  list-style-type: none;
  padding: 0;
  margin-top: 33%;
  flex-grow: 1;
  border-right: 6px solid #B02025;
}

.SNavigation li {
  margin-bottom: 20%;
}

.SNavigation a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.SNavigation a:hover {
  color: #007bff;
}

.SFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.SKnown-languages {
  position: relative;
  margin-left: 7.5%;
}

.SKnown-languages .slanted-border {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border: 4px solid #B02025;
  transform: skewX(-49deg);
  transform-origin: top right;
}

.SKnown-languages-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-left: auto;
  z-index: 1;
}
